#header{
  text-align:center;
}
content{
  position:absolute;
  left:50%;
  transform:translate(-50%)
}
#username{
  width:500px;
  height:50px;
}
#password{
  width:500px;
  height:50px;
}
#passwordconfirm{
  width:500px;
  height:50px;
}
#firstname{
  width:250px;
  height:50px;
}
#lastname{
  width:250px;
  height:50px;
}
#year{
  width:125px;
  height:50px;
}
#month{
  width:125px;
  height:50px;
}
#day{
  width:125px;
  height:50px;
}
#naver{
  width:250px;
}
input{
  border:1px solid lightgrey
}
select{
  border:1px solid lightgrey;
  color:grey;
}
#gender{
  width:500px;
  height:50px;
}
#recovery{
  width:500px;
  height:50px;
}
#areacode{
  width:500px;
  height:50px;
}
#phonenumber{
  width:350px;
  height:50px;
}
#sendcode{
  width:150px;
  height:50px;
  background-color:lightgreen;
}
#veri{
  width:500px;
  height:50px;
}
#signup{
  width:500px;
  height:50px;
  background-color:lightgreen;
}
#un{
  /*text-align:left;*/
}
#username-box{
  /*text-align: center;
  width:460px;*/
}
.box{
  Margin-bottom:20px;
}
div{
  font-family: arial, sans-serif;
}
input{
  border-radius:5px;
}
